<section class="content-header">
  <h1>{{"eSMAT.Unscheduled.Title" | translate}}</h1>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <form [formGroup]="smatForm" (ngSubmit)="onSubmit()">
          <div class="box-body">
          <accordion>
            <accordion-group [isOpen]="true">
              <div accordion-heading class="clearfix">
                {{'eSMAT.Smat.General' | translate}}
                <span class="pull-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
              <div class="row">
                <app-schedule-fields [parentForm]="smatForm" [schedule]="scheduleGet"
                  (onPlantChangedRequest)="onPlantChanged($event)" (onSmateeChangedRequest)="onScheduleSmateeChanged($event)" ></app-schedule-fields>
              </div>
              <div class="row">
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>{{"eSMAT.Smat.Shift" | translate}}</label>
                    <ngx-select allowClear="true" [items]="shifts" [placeholder]="'eSMAT.Smat.Shift' | translate" formControlName="shiftId"></ngx-select>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group" [ngClass]="{'has-error': smatForm.controls.date.invalid && !smatForm.controls.date.pristine}">
                    <label>{{"eSMAT.Smat.PerformedDate" | translate}}
                      <span class="text-danger">*</span>
                    </label>
                    <div class="input-group">
                      <input class="form-control" bsDatepicker type="text" [bsConfig]="{containerClass:'theme-dark-blue'}" #datePicker="bsDatepicker" 
                        formControlName="date" required/>
                      <div class="input-group-addon" (click)="datePicker.toggle()">
                        <i class="fa fa-calendar"></i>
                      </div>
                    </div>
                    <div class="help-block" *ngIf="smatForm.controls.date.invalid && !smatForm.controls.date.pristine">
                      {{"Common.Forms.RequiredField" | translate}}
                    </div>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <div class="form-group">
                    <label>EHS key point</label>
                    <ngx-select allowClear="true" [items]="ehsKeyPoints" [placeholder]="'EHS key point'" formControlName="ehsKeyPoint"></ngx-select>
                  </div>
                </div>
              </div>
            </accordion-group>
            <accordion-group *ngFor="let item of observations.controls; let i = index">
              <div accordion-heading class="clearfix">
                {{'eSMAT.Smat.' + ObservationTypeEnum[item.value.type] | translate}}
                <span class="float-right pull-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
              <app-observation-form [schedule]="schedule.value" [is-removable]="isRemovable(item.value.type)" [categories]="categories.get(item.value.type)" 
                [smatees]="smatees" [observationForm]="item" [(imageFile)]="imagesFiles[i]"
                (addObservation)="addObservation($event, i + 1)" (removeObservation)="removeObservation(i)"></app-observation-form>
            </accordion-group>            
            <accordion-group [isOpen]="true">
              <div accordion-heading class="clearfix">
                {{'eSMAT.Smat.AdditionalInformation' | translate}}
                <span class="float-right pull-right">
                  <i class="fa fa-angle-down"></i>
                </span>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <div class="form-group">
                    <label>{{"eSMAT.Smat.FeedbackEmails" | translate}} </label>
                    <ngx-select [items]="feedbackEmails" allowClear="true" autoClearSearch="true" [placeholder]="'eSMAT.Smat.FeedbackEmails' | translate"
                      [multiple]="true" formControlName="feedbackEmails" (typed)="onEmailTyped($event)"></ngx-select>                    
                  </div>

                  <div class="form-group">
                    <label>{{"eSMAT.Smat.Comment" | translate}}</label>
                    <textarea type="text" class="form-control" formControlName="comment"></textarea>
                  </div>
                </div>
              </div>
            </accordion-group>
          </accordion>
          </div>
          <div class="box-footer">
            <button type="button" class="btn btn-default" [routerLink]="isEditMode ? ['/e-smat','history'] : ['/e-smat']" [disabled]="isSaveInProgress">{{"Common.Buttons.Cancel" | translate}}</button>
            <button type="submit" class="btn btn-success pull-right" [disabled]="smatForm.invalid || isSaveInProgress" *ngIf="authorizationService.hasRole('eSmat_Smat_Write')">
              {{"Common.Buttons.Save" | translate}}
              <i class="fa fa-spinner fa-spin" *ngIf="isSaveInProgress"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>