<section class="content-header">
  <h1>{{"eSMAT.ObservationManagement.Title" | translate}}</h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title">{{"eSMAT.ObservationManagement.SubTitle" | translate}}</h3>
        </div>
        <div class="box-body">
          <app-observation-list-filter [(filterModel)]="filterModel" (onFilterRemovedRequest)="onFilterRemoved()"></app-observation-list-filter>
          <hr/>
          <app-observation-category-table [(filterModel)]="filterModel" *ngIf="filterModel.plantId && !filterModel.observationCategoryId"></app-observation-category-table>
          <app-observation-sub-category-table [filterModel]="filterModel" *ngIf="filterModel.observationCategoryId"></app-observation-sub-category-table>
        </div>  
      </div>
    </div>
  </div>
</section>