<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <ngx-select name="plant" allowClear="true" [items]="plants" [placeholder]="'Organization.Levels.Plant' | translate"  [(ngModel)]="model.plantId" 
        (remove)="onPlantRemoved()" (typed)="onPlantSearchChanged($event)"></ngx-select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <ngx-select name="source" allowClear="true" [items]="sources" [placeholder]="'eAction.Source' | translate"  [(ngModel)]="model.source" 
        (remove)="onSourceRemoved()"></ngx-select>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="form-group">
      <input name="search" type="text" class="form-control" [placeholder]="'Common.Buttons.Search' | translate" [(ngModel)]="model.search"
        (blur)="onSearchBlured()" />
    </div>
  </div>
  <div class="col-xs-12">
    <div class="form-group">
      <button type="button" class="btn btn-primary pull-right" (click)="onSearchClicked()">{{"Common.Buttons.Search" | translate}}</button>
    </div>
  </div>
</div>