<div class="col-xs-6 col-md-4 col-lg-3">
  <a [routerLink]="isEnabled?[link]:[]" [class.disabled]="!isEnabled" >
    <div class="small-box overlay-wrapper" [ngClass]="backgroundClass">         
      <div class="inner">
          <h3>{{title}}</h3>
          <p></p>
      </div>
      <div class="icon">
        <i [ngClass]="iconClass"></i>
      </div>
      <div class="small-box-footer">
        {{"Home.Enter" | translate}} <i class="fa fa-arrow-circle-right"></i>
      </div>
      <div class="overlay" *ngIf="!isEnabled"></div>
    </div>      
  </a>
</div>