<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{"Organization.ImportTitle" | translate}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" [disabled]="isImportInProgress" (click)="onCloseClicked()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="onImportSubmitted()">
      <div class="modal-body">          
        <div class="form-group">
          <label>{{"Common.Fields.File" | translate}}</label>
          <input type="file" name="file" accept=".xlsx" class="form-control" (change)="onOrganizationsFileChanged($event)" #fileInput />
          <div class="help-block">
            <em>{{"Common.Modals.ImportHelpText" | translate}}</em>
          </div>
        </div>
        <div class="box box-danger box-solid" *ngIf="errors && errors.length > 0">
          <div class="box-header">
              <h4 class="box-title">{{"Common.Modals.ErrorsTitle" | translate}}</h4>
          </div>
          <div class="box-body text-danger">
            <ul>
              <li *ngFor="let e of errors">{{"Common.Modals.ErrorItem" | translate: {line: e.key+1, message: e.value} }}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" [disabled]="isImportInProgress" (click)="onCloseClicked()">{{"Common.Modals.Close" | translate}}</button>
        <button type="submit" class="btn btn-warning" [disabled]="!organizationsFile || isImportInProgress">
          {{"Common.Buttons.Import" | translate}}
          <i class="fa fa-spinner fa-spin" *ngIf="isImportInProgress"></i>
        </button>
      </div>
    </form>
  </div>
</div>