<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title pull-left">{{ "Organization.AddButtons.Task" | translate }}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modal.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form #addTaskForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="modal-body">  
          <div class="form-group">
            <label>{{ "Organization.Levels.Workstation" | translate }}</label>
            <span>{{ workstation.text }}</span>        
          </div>
          <div class="form-group" [ngClass]="{'has-error': taskName.invalid && !taskName.pristine}">
              <label>{{"Organization.Levels.Task" | translate}} <span class="text-danger">*</span></label>
              <input name="taskName" type="text" [(ngModel)]="task" #taskName="ngModel" class="form-control" required>
              <div class="help-block" *ngIf="taskName.invalid && !taskName.pristine">
                  {{"Common.Forms.RequiredField" | translate}}
              </div>
          </div>    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" (click)="modal.hide()">{{ "Common.Buttons.Cancel" | translate }}</button>
        <button type="submit" class="btn btn-success" [disabled]="addTaskForm.invalid || isSaveInProgress"  *ngIf="authorizationService.hasRole('eSuite_MasterData_Organization_Write')">
          {{ "Common.Buttons.Save" | translate }}
          <i class="fa fa-spinner fa-spin" *ngIf="isSaveInProgress"></i>
        </button>
      </div>
    </form>
  </div>
</div>